<div class="form-group">
  <label for="deployment_name">Name</label>
  <input id="deployment_name" class="form-control" name="[name]" type="text" autofocus required>
</div>
<div class="form-group">
  <label for="deployment_version">Version</label>
  <input id="deployment_version" class="form-control" name="[version]" type="text" required>
</div>
<div class="form-group">
  <label for="deployment_environment">Environment</label>
  <input id="deployment_environment" class="form-control" name="[environment]" type="text" required>
</div>
<div class="form-group">
  <label for="deployment_hostname">Host Name</label>
  <input id="deployment_hostname" class="form-control" name="[hostname]" placeholder="(optional)" type="text">
</div>
<div class="form-group">
  <label for="deployment_deployed_by">Deployed By</label>
  <input id="deployment_deployed_by" class="form-control" name="[deployed_by]" placeholder="(optional)" type="text">
</div>
