<div class="form-group">
  <label for="deployment_name" class="sr-only">Name</label>
  <input id="deployment_name" class="form-control" name="[name]" type="text" placeholder="Name" autofocus required>
</div>
<div class="form-group">
  <label for="deployment_version" class="sr-only">Version</label>
  <input id="deployment_version" class="form-control" name="[version]" type="text" placeholder="Version" required>
</div>
<div class="form-group">
  <label for="deployment_environment" class="sr-only">Environment</label>
  <input id="deployment_environment" class="form-control" name="[environment]" type="text" placeholder="Environment" required>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
