<div>
  <input id="deployment_name" name="[name]" placeholder="Name" type="text" autofocus required>
</div>
<div>
  <input id="deployment_version" name="[version]" placeholder="Version" type="text" required>
</div>
<div>
  <input id="deployment_environment" name="[environment]" placeholder="Environment" type="text" required>
</div>
<div>
  <input id="deployment_hostname" name="[hostname]" placeholder="Host Name (optional)" type="text">
</div>
<div>
  <input id="deployment_deployed_by" name="[deployed_by]" placeholder="Deployed By (optional)" type="text">
</div>
