<form action="/deploy" method="post">
    <%= erb(:form, :layout => false) %>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href='/' class="btn btn-danger">Back to List</a>
</form>
