<form action="/deploy" method="post">
    <%= erb(:form, :layout => false) %>
    <input type="submit" class="btn btn-primary" value="Submit">
    <a href='/' class="btn btn-danger">Back to List</a>
</form>
